[Unit]
Description=MAVLink-Router
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
ExecStart=/home/orangepi/ats-setup/scripts/mavlink_router.sh
Restart=on-failure
RestartSec=3
User=orangepi

[Install]
WantedBy=multi-user.target
