[Unit]
Description=Micro XRCE-DDS Agent
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/orangepi/ats-setup/micro_xrce.sh
Restart=on-failure
User=orangepi

[Install]
WantedBy=multi-user.target
