[Unit]
Description=Start wifi ap
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/orangepi/ats-setup/scripts/wifi_ap.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target